{{ define "main" }}

<!-- introduction -->
<div class="div-padding bg-color-black fg-color-white">
  <section class="container clearfix">
    <div class="row minisection">
      <div class="col-sm">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{ .Content }}
      </div>
      <div>
        <img src="images/pepper_side.jpg" class= "img-fluid" alt="..." style="max-height:500px; width:auto;">
      </div>
    </div>
  </section>
</div>

<!-- projects -->
<div class="div-padding">
  <section class="container clearfix">
    <div class="row minisection">
    {{ with .Site.GetPage "/projects" }}
      <h2>{{ .Title }}</h2>
      {{ .Content }}
      {{range .Pages.ByParam "order"}}
        <div class="col-sm">
          <h3 class="text-center">{{ .Title }}</h3>
          {{ .Content }}
        </div>
      {{ end }}
    {{ end }}
    </div>
  </section>
</div>

<!-- education -->
<div class="div-padding  bg-color-grey">
  <section class="container clearfix">
    <div class="row minisection">
    {{ with .Site.GetPage "/education" }}
      <h2>{{ .Title }}</h2>
      {{ .Content }}
      <div class="col-sm">
        <img src="images/robot-hand-2.jpg" class="img-fluid" alt="..." style="max-height:500px; width:auto;">
      </div>
      {{range .Pages.ByParam "order"}}
        <div class="col-sm">
          <h3 class="text-center">{{ .Title }}</h3>
          {{ .Content }}
        </div>
      {{ end }}
    {{ end }}
    </div>
  </section>
</div>

<!-- contribution -->
<div class="div-padding">
  <section class="container">
    {{ with .Site.GetPage "/contribution" }}
      <h2>{{ .Title }}</h2>
      {{ .Content }}
      <div class="row minisection">
      {{range .Pages.ByParam "order"}}
        <div class="col-sm">
        <h3 class="text-center">{{ .Title }}</h3>
        {{ .Content }}
        </div>
      {{ end }}
      <div class="col-sm">
        <img src="images/pepper.png" class="img-fluid" alt="..." style="max-height:500px; width:auto;">
      </div>
      </div>
    {{ end }}
  </section>
</div>

<!-- contact -->
<div class="div-padding   bg-color-grey">
  <section class="container">
    {{ with .GetPage "contact"}}
      <h2>{{ .Title }}</h2>
      <div class="row">
        <div class="col-6">
          <img src="images/map.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-4" style="">
          {{ .Content}}
        </div>
      </div>
    {{ end}}
  </section>
</div>

{{ end }}
